<%@ page pageEncoding="UTF-8" %>
<%@ page isELIgnored="false" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><spring:message code="Lbl.AppName"/></title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="<c:url value="/resources/css/bootstrap.min.css" />">
<link rel="stylesheet" href="<c:url value="/resources/css/bootstrap-theme.min.css"/>"/>
<link rel="stylesheet" href="<c:url value="/resources/css/bootstrap-select.css"/>"/>
<link rel="stylesheet" href="<c:url value="/resources/css/server.css"/>"/>

<link rel="stylesheet" href="<c:url value="/resources/dataTables/css/jquery.dataTables.min.css"/>"/>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script>window.html5 || document.write('<script src="${pageContext.request.contextPath}/resources/js/vendor/html5shiv.js"><\/script>')</script>
<![endif]-->