label[for*="adminRoleList"] {
    padding-left: 10px;
    font-size: 0.9em;
    font-weight: normal;
}

.fieldError {
    background-color: #ffd8d7;
}

.wait-dialog > .modal-dialog {
    margin-top: 20%;
    width: 164px !important;
    height: 100px !important;
    text-align: center;
}

.schedule-header {
    color: #FFF;
    background-color: #337AB7;
    border-radius: 5px 5px 0 0;
}

.schedule-page-calendar {
    color: #FFF;
    background-color: #4985b7;
    -webkit-box-shadow: 2px 2px 2px 1px #bfbfbf;
    box-shadow: 2px 2px 2px 2px #bfbfbf;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.modal-header {
    color: #FFF;
    background-color: #337AB7;
}